BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: OnePerLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: false
